@import './../../sass/mixins';

.Cart {
  display: none;
  position: absolute;
  z-index: 1;
  background-color: transparent;
  top: 69px;
  padding: 8px;
  box-sizing: border-box;
  width: 100%;
  min-height: 256px;

  @include breakpoint(md) {
    max-width: 360px;
    top: 88px;
    right: 21px;
  }

  @include breakpoint(lg) {
    right: 41px;
  }

  @include breakpoint(xl) {
    right: 81px;
  }

  &.open {
    display: block;
  }

  &__content {
    position: relative;
    top: 0;
    background-color: var(--white);
    border-radius: 9px;
    box-sizing: border-box;
    box-shadow: 0px 8px 11px 1px rgba(0, 0, 0, 0.25);
  }

  &__title {
    font-size: 16px;
    line-height: 26px;
    margin: 0;
    padding: 20px 24px 21px;
    border-bottom: 1px solid var(--grayish-blue);
  }

  hr {
    color: var(--grayish-blue);
    margin: 0;
  }

  &__empty {
    font-size: 16px;
    font-weight: 700;
    line-height: 26px;
    color: var(--dark-grayish-blue);
    text-align: center;
    padding-top: 75px;
    padding-bottom: 87px;
  }

  &__items {
    padding: 24px 24px 32px;
  }

  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 26px;

    &-thumbnail {
      height: 50px;
      width: 50px;
      border-radius: 4px;
      overflow: hidden;
      margin-right: 15px;

      img {
        width: 100%;
        height: auto;
      }
    }

    .prices {
      display: flex;
      align-items: baseline;
    }

    .name,
    .price {
      font-size: 16px;
      line-height: 16px;
      color: var(--dark-grayish-blue);
    }

    .name {
      margin: 3px 0;
    }

    .price {
      letter-spacing: 0.025em;
      margin-right: 7px;
    }

    .totalPrice {
      line-height: 26px;
      font-weight: 700;
      color: var(--very-dark-blue);
    }

    .deleteItem {
      margin-left: auto;
      cursor: pointer;
      padding: 18px 0 13px 10px;
    }
  }

  &__checkout {
    box-sizing: border-box;
    width: 100%;
    padding: 15px 0;
    font-weight: 700;
    color: var(--white);
    line-height: 26px;
    border-radius: 11px;
    background-color: var(--orange);
    border-style: none;
    cursor: pointer;
  }
}
