@import './../../sass/mixins';

.Item {
  background-color: var(--white);
  display: flex;
  flex-flow: column wrap;
  padding-bottom: 131px;

  @include breakpoint(md) {
    flex-flow: row nowrap;
    margin: 0 71px;
  }

  @include breakpoint(lg) {
    flex-flow: row nowrap;
    margin: 0 142px;
  }

  @include breakpoint(xl) {
    flex-flow: row nowrap;
    margin: 0 213px;
  }

  &__pictures--mobile {
    position: relative;
    height: 300px;
    overflow: hidden;
    line-height: 0;

    @include breakpoint(md) {
      display: none;
    }

    .image {
      position: absolute;
      left: 0;
      height: auto;
      width: 100%;
      opacity: 0;

      &.activeSlide {
        opacity: 1;
        transform: translateX(0);
      }

      &.lastSlide {
        transform: translateX(-100%);
      }

      &.nextSlide {
        transform: translateX(100%);
      }
    }

    .nextSlide,
    .previousSlide {
      position: absolute;
      top: 130px;
      height: 40px;
      width: 40px;
      background-color: white;
      border-radius: 50%;
      cursor: pointer;

      img {
        position: relative;
      }
    }

    .nextSlide {
      right: 16px;

      img {
        top: 14px;
        left: 17px;
        width: 9px;
      }
    }
    .previousSlide {
      left: 16px;

      img {
        top: 14px;
        left: 14px;
        width: 8px;
      }
    }
  }

  &__pictures {
    display: none;
    line-height: 0;

    @include breakpoint(md) {
      display: block;
      max-width: 292px;
    }

    @include breakpoint(lg) {
      max-width: 332px;
    }

    @include breakpoint(xl) {
      max-width: 445px;
    }

    .active-picture {
      border-radius: 15px;
      overflow: hidden;
      cursor: pointer;

      @include breakpoint(md) {
        margin-bottom: 16px;
      }

      @include breakpoint(lg) {
        margin-bottom: 32px;
      }
    }

    .thumbnails {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;

      @include breakpoint(md) {
        gap: 7px;
      }

      @include breakpoint(lg) {
        gap: 15px;
      }

      @include breakpoint(xl) {
        gap: 30px;
      }
    }

    .thumbnail {
      border-radius: 9px;
      cursor: pointer;
      overflow: hidden;
      background-color: var(--white);

      @include breakpoint(md) {
        height: 85px;
        width: 85px;
      }

      @include breakpoint(xl) {
        height: 88px;
        width: 88px;
      }
    }

    .thumbnail:hover {
      img {
        filter: opacity(0.5);
      }
    }

    .thumbnail.active {
      box-shadow: 0px 0px 0px 2px var(--orange);

      img {
        filter: opacity(0.3);
      }
    }

    img {
      width: 100%;
      height: auto;
    }
  }

  &__info {
    padding: 24px;
    color: var(--black);
    box-sizing: border-box;

    @include breakpoint(md) {
      padding: 62px 0 77px 42px;
      max-width: 570px;
    }

    @include breakpoint(lg) {
      padding: 62px 0 77px 84px;
    }

    @include breakpoint(xl) {
      padding: 62px 0 77px 125px;
    }

    .brand {
      font-size: 13px;
      font-weight: 700;
      letter-spacing: 0.14em;
      line-height: 15px;
      text-transform: uppercase;
      color: var(--orange);
      margin-bottom: 14px;

      @include breakpoint(md) {
        margin-bottom: 19px;
      }
    }

    .name {
      text-transform: capitalize;
      font-size: 28px;
      font-weight: 700;
      line-height: 32px;
      margin-bottom: 16px;

      @include breakpoint(md) {
        font-size: 44px;
        line-height: 48px;
        margin-bottom: 35px;
      }
    }

    .description {
      font-size: 15px;
      line-height: 25px;
      letter-spacing: 0.002em;
      margin-bottom: 20px;
      color: var(--dark-grayish-blue);

      @include breakpoint(md) {
        font-size: 16px;
        line-height: 26px;
        max-width: 429px;
      }
    }

    .prices-container {
      display: flex;
      flex-flow: row wrap;
      align-items: center;
      margin-bottom: 19px;

      @include breakpoint(md) {
        margin-bottom: 34px;
      }
    }

    .discounted-price {
      font-size: 28px;
      font-weight: 700;
      line-height: 46px;
      letter-spacing: 0.04em;
      color: var(--very-dark-blue);
      margin-right: 15px;
    }

    .discount {
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      letter-spacing: 0.04em;
      padding: 0 10px 1px 8px;
      border-radius: 6px;
      color: var(--orange);
      background-color: var(--pale-orange);
    }

    .full-price {
      font-size: 16px;
      line-height: 26px;
      letter-spacing: 0.04em;
      text-decoration: line-through;
      color: var(--grayish-blue);
      margin-left: auto;

      @include breakpoint(md) {
        width: 100%;
      }
    }

    .toggle-amount {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
      border-radius: 11px;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      background-color: var(--light-grayish-blue);

      @include breakpoint(md) {
        margin-bottom: 0;
        margin-right: 16px;
        max-width: 157px;
      }

      .amount {
        @include breakpoint(xl) {
          padding: 0 13px;
        }
      }

      .decrease,
      .increase {
        cursor: pointer;
      }

      .decrease {
        padding: 27px 24px 25px;
      }

      .increase {
        padding: 22px 24px;
      }
    }

    .add-to-cart {
      padding: 15px;
      border: none;
      border-radius: 11px;
      width: 100%;
      font-size: 16px;
      font-weight: 700;
      line-height: 26px;
      color: var(--white);
      background-color: var(--orange);
      cursor: pointer;
      box-shadow: 0px 29px 25px -6px rgba(255, 126, 27, 0.2);
      margin-bottom: 88px;

      @include breakpoint(md) {
        min-width: 150px;
        max-width: 272px;
        margin: 0;
      }

      &-icon {
        height: 16px;
        width: 18px;
        filter: brightness(4);
        margin-right: 16px;
      }
    }

    &__buttons {
      display: block;

      @include breakpoint(md) {
        display: flex;
        flex-flow: row nowrap;
      }
    }
  }

  &__lightbox {
    display: none;
    justify-content: center;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    line-height: 0;
    background-color: var(--black-lightbox);
    flex-flow: column nowrap;
    align-items: center;

    .active-picture {
      margin-top: 80px;
      width: 550px;
      height: 550px;
      position: relative;

      img {
        width: 100%;
        height: auto;
        border-radius: 15px;
        overflow: hidden;
      }

      .previousSlide,
      .nextSlide {
        position: absolute;
        height: 56px;
        width: 56px;
        bottom: 257px;
        background-color: white;
        border-radius: 50%;
        cursor: pointer;
        text-align: center;

        img {
          position: relative;
          top: 20px;
        }
      }

      .previousSlide {
        left: -28px;

        img {
          width: 12.5px;
          top: 19px;
          left: -3px;
        }
      }

      .nextSlide {
        right: -28px;

        img {
          width: 13px;
          top: 19px;
        }
      }
    }

    .thumbnails {
      display: flex;
      gap: 30px;
      height: 88px;
      margin: 40px 0;

      .thumbnail {
        border-radius: 9px;
        overflow: hidden;
        background-color: var(--white);
        cursor: pointer;
      }

      .thumbnail:hover {
        img {
          filter: opacity(0.5);
        }
      }

      .thumbnail.active {
        box-shadow: 0px 0px 0px 2px var(--orange);

        img {
          filter: opacity(0.3);
        }
      }

      img {
        width: 88px;
        height: auto;
      }
    }
  }

  @media screen and (max-height: 720px) {
    .Item__lightbox {
      justify-content: flex-start;
      .active-picture {
        margin-top: 40px;
      }
    }
  }

  &__lightbox.open {
    @include breakpoint(md) {
      display: flex;
    }
  }
}
