@import './sass/normalize';
@import './sass/mixins';
@import './sass/variables';

.App {
  // background-color: cadetblue;
  background-color: var(--white);
}

p {
  margin: 0;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}
